.contents__mobile {
    margin: auto;
    width: $max-width-lg;
    margin-top: 32px;
    .contents__title {
        color: #181818;
        font-family: 'specter', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 125%; 
    }

    .contents__button {
        padding: 20px;
        background-color: $primary;
        border: solid 1px $primary;
        border-radius: 5px;
        color: $white;
        text-align: center;
        font-family: 'specter', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: $weight-2;
        line-height: 125%;
        letter-spacing: 0.7px;
        
    }
}