.filter__mobile {
    padding: 40px 0;
    border-top: 1px solid var(--color-8, #e0e0e0df);
    border-bottom: 1px solid var(--color-8, #e0e0e0df);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    
    .filter__container {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: $max-width-lg;

        .filter__actions {
            display: flex;
            column-gap: 16px;
        }
    }
    
    .filter__search {
        color: var(--color-6, #181818);
        font-family: 'specter',sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 125%; /* 17.5px */
        letter-spacing: 0.7px;
        width: 220px;
        background-color: transparent;
        border: none;
        padding-left: 15px;
        outline: none;
    }

    .filter__control-input {
        position: relative;
        .filter__search {
            &::before {
                position: absolute;
                top: 1px;
                content: "";
                display: block;
                width: 20px;
                height: 20px;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_186_599' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Crect width='20' height='20' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_186_599)'%3E%3Cpath d='M16.3333 17.5L11.0833 12.25C10.6667 12.5833 10.1875 12.8472 9.64583 13.0417C9.10417 13.2361 8.52778 13.3333 7.91667 13.3333C6.40278 13.3333 5.12153 12.809 4.07292 11.7604C3.02431 10.7118 2.5 9.43056 2.5 7.91667C2.5 6.40278 3.02431 5.12153 4.07292 4.07292C5.12153 3.02431 6.40278 2.5 7.91667 2.5C9.43056 2.5 10.7118 3.02431 11.7604 4.07292C12.809 5.12153 13.3333 6.40278 13.3333 7.91667C13.3333 8.52778 13.2361 9.10417 13.0417 9.64583C12.8472 10.1875 12.5833 10.6667 12.25 11.0833L17.5 16.3333L16.3333 17.5ZM7.91667 11.6667C8.95833 11.6667 9.84375 11.3021 10.5729 10.5729C11.3021 9.84375 11.6667 8.95833 11.6667 7.91667C11.6667 6.875 11.3021 5.98958 10.5729 5.26042C9.84375 4.53125 8.95833 4.16667 7.91667 4.16667C6.875 4.16667 5.98958 4.53125 5.26042 5.26042C4.53125 5.98958 4.16667 6.875 4.16667 7.91667C4.16667 8.95833 4.53125 9.84375 5.26042 10.5729C5.98958 11.3021 6.875 11.6667 7.91667 11.6667Z' fill='%23181818'/%3E%3C/g%3E%3C/svg%3E%0A");
            }
        }
    }
}