* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $bg-secondary;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

ul li {
    list-style: none;
}

.application-dashboard {
    background-color: #fff;
}